<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品一覧</title>
	
</head>
<body>
	
<p th:text="${msg}"></p>
	
<a th:href="@{/product/filter(category='Food')}">Food</a> 
<a th:href="@{/product/filter(category='Drink')}">Drink</a> 
<a th:href="@{/product/filter(category='Sweets')}">Sweets</a> 
<!--
<a th:href="@{/product/filter(category='Food', released=1)}">Food</a> 
<a th:href="@{/product/filter(category='Drink', released=1)}">Drink</a> 
<a th:href="@{/product/filter(category='Sweets', released=1)}">Sweets</a> 
-->


<h1>商品一覧</h1>
<a href="/add">追加</a><br><br>

<div th:each="product : ${products}">
	<span th:text="${product.name}"></span>
	<span th:text="${product.released}"></span>

</div>

</body>
</html>